<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <header><img src="/img/logo.png" alt="Meadowlark Travel Logo" /></header>
    {{{body}}}
    <ul>Links:
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/y">404 - not found error</a></li>
    </ul>
  </body>
</html>